$header-grey: '#757575';

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  height: 48px;
  width: 100vw;
  opacity: 0.5;
}

.lines {
  display: block;
  width: 18px;
  padding: 0 19px;
  .line {
    background-color: #757575;
    height: 2px;
    width: 100%;
    margin: 3px;
  }
}

.mobile-header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    font-size: 12px;
    line-height: 48px;
    font-weight: 600;
    padding: 0px 10px;
    &.active {
      color: blue;
      border-bottom: 2px solid blue;
    }
  }
}
.desktop-header-links { display: none; }
.header-signin {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:last-of-type {
    position: absolute;
    right: 10px;
  }
  .box-icon {
    width: 30px;
    height: 30px;
    color: $header-grey;
    background: url('../images/google-sprite.png');
    background-position: 869px -100px;
    background-size: 500px;
  }
  .btn {
    padding: 0px 12px;
    line-height: 28px;
    font-size: 13px;
    color: $header-grey;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    opacity: 1;
    margin-top: 5px;
  }
  .lines {
    display: none;
  }
  .mobile-header-links { display: none; }
  .desktop-header-links {
    margin: 13px 0 0 25px;
    display: flex;
    flex-direction: row;
    width: calc(100vw - 185px);
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      flex-direction: row;
      a {
        font-size: 13px;
        color: #555;
        text-decoration: none;
        &:last-of-type {
          margin-left: 15px
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .header-signin {
    padding: 14px 20px 0 0;
    .box-icon {
      opacity: 0.5;
      background-size: 525px;
      background-position: 922px -105px;
    }
    .btn {
      color: white;
      font-weight: bold;
      background-color: #3b78e7;
      border: none;
      border-radius: 2px;
      height: 30px;
      padding: 1px 13px;
      margin-left: 18px;
    }
  }

}