$header-grey: '#757575';

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  height: 48px;
  width: 100vw;
  opacity: 0.5;
}

.lines {
  display: block;
  width: 18px;
  padding: 0 19px;
  .line {
    background-color: #757575;
    height: 2px;
    width: 100%;
    margin: 3px;
  }
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    // color: #757575;
    font-size: 12px;
    line-height: 48px;
    font-weight: 600;
    padding: 0px 10px;
    &.active {
      color: blue;
      border-bottom: 2px solid blue;
    }
  }
}

.header-signin {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:last-of-type {
    position: absolute;
    right: 10px;
  }
  .box-icon {
    width: 30px;
    height: 30px;
    color: $header-grey;
    background: url('../images/google-sprite.png');
    background-position: 869px -100px;
    background-size: 500px;
  }
  .btn {
    padding: 0px 12px;
    line-height: 28px;
    font-size: 13px;
    color: $header-grey;
  }
}