$header-grey: '#757575';

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  height: 48px;
  width: 100vw;
  opacity: 0.5;
}

.lines {
  display: block;
  width: 18px;
  padding: 0 19px;
  .line {
    background-color: #757575;
    height: 2px;
    width: 100%;
    margin: 3px;
  }
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    // color: #757575;
    font-weight: 600;
    padding: 14px 10px;
    &.active {
      color: blue;
      padding-bottom: 12px;
      border-bottom: 2px solid blue;
    }
  }
}

.header-signin {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:last-of-type {
    position: absolute;
    right: 10px;
  }
  .box-icon {
    width: 32px;
    height: 32px;
    color: $header-grey;
    margin-right: 10px;
    background: url('../images/google-sprite.png');
    background-position: 778px -90px;
  }
  .btn {
    padding: 5px;
    // display: none;
    color: $header-grey;
  }
}